---
import { IHeroProps } from "@types";

const { name, about } = Astro.props as IHeroProps;
---

<section>
  <h1>{name}</h1>
  <p class="dark:text-light text-lg mb-16">
    {about}
    <ul>
      <li>✓ Jag är bra på organisera många saker.</li>
      <li>✓ Jag kan också städer upp litet rum, tvätta tallrikar och bestick.</li>
      <li>✓ Jag tycker om dator och teknologi.</li>
      <li>✓ Jag vill ska bli en IT-profiesionell eller dator-utvecklare.</li>
    </ul>
  </p>
</section>
